@font-face {
    font-family: 'Kazmann Sans';
    src: local('fonts/Kazmann Sans'), local('fonts/Kazmann-Sans'), url('fonts/Kazmannsans.woff2') format('woff2'), url('fonts/Kazmannsans.woff') format('woff'), url('fonts/Kazmannsans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: local('fonts/Roboto Slab Light'), local('fonts/RobotoSlab-Light'), url('fonts/robotoslablight.woff2') format('woff2'), url('fonts/robotoslablight.woff') format('woff'), url('fonts/robotoslablight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: local('fonts/Roboto Slab Regular'), local('fonts/RobotoSlab-Regular'), url('fonts/robotoslabregular.woff2') format('woff2'), url('fonts/robotoslabregular.woff') format('woff'), url('fonts/robotoslabregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('fonts/Roboto Thin'), local('fonts/Roboto-Thin'), url('fonts/robotothin.woff2') format('woff2'), url('fonts/robotothin.woff') format('woff'), url('fonts/robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('fonts/Roboto Light'), local('fonts/Roboto-Light'), url('fonts/robotolight.woff2') format('woff2'), url('fonts/robotolight.woff') format('woff'), url('fonts/robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('fonts/Roboto'), local('fonts/Roboto-Regular'), url('fonts/roboto.woff2') format('woff2'), url('fonts/roboto.woff') format('woff'), url('fonts/roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('fonts/Roboto Medium'), local('fonts/Roboto-Medium'), url('fonts/robotomedium.woff2') format('woff2'), url('fonts/robotomedium.woff') format('woff'), url('fonts/robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family:"Calibri", "Century Gothic", "Trebuchet MS", "Helvetica", sans-serif;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #d1d1d1;
}

a {
    color: #171717;/* Цвет ссылок */
    text-decoration: none;
}
a:visited {
    color: #171717; /* Цвет посещенных ссылок */
}
a:active {
    color: #171717; /* Цвет активных ссылок */
}

li {
    width: auto;
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-left: 25px;
    margin-right: 25px;
    float: left;
}

.menubutton {
    width: 228px;
    font-size: 30pt;
    height: 45px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #e5e5e5;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    -o-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.menubutton:hover {
    background-color: rgba(0, 0, 0, 0.39);
    border: 1px solid rgba(255, 167, 0, 0.4);
}

.menu {
    padding: 0;
    height: 50px;
    width: 1400px;
    margin: auto;
}

.navnav {
    position: absolute;
    height: 50px;
    width: 100%;
    margin: 0;
    margin-top: 435px;
}

#hat {
    background-color: black;
    font-family: "Kazmann Sans" ,"Calibri", "Century Gothic", "Trebuchet MS", "Helvetica", sans-serif;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#videologo {
    position: absolute;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

#logotext {
    position: absolute;
    width: 100%;
    height: 450px;
    text-align: center;
    padding: 0;
}

#logoimg {
    width: 370px;
    height: 370px;
    margin-top: 25px;
}

#logoimgmini {
    display: none;
}

#logovideo {
    position: absolute;
    height: 500px;
    opacity: 0.5;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 500px;
}

#video_contain {
    position: absolute;
    left: -50%;
    width: 200%;
    height: 500px; 
}

.masonry_box {
    width: 330px;
    float: left;
    background-color: white;
    overflow: hidden;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-family: "Calibri", "Century Gothic", "Trebuchet MS", "Helvetica", sans-serif;
    font-size: 20pt;

}

.article_title {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 0;
    margin-top: -2px;
    font-family: "Roboto Slab", "Calibri", "Century Gothic", "Trebuchet MS", "Helvetica", sans-serif;
    font-size: 15pt;
    font-weight: 400;
    color: #000000;
}

#main {
    margin: 0;
    padding: 0;
    width: 100%;
}

img.wp-post-image {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.tags {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-bottom: 8px;
    font-family: "Roboto", "Calibri", "Century Gothic", "Trebuchet MS", "Helvetica", sans-serif;
    font-size: 11pt;
    font-weight: 300;
    width: 230px;
    float: left;
    overflow: hidden;
    color: #484848;
}

.date {
    float: right;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    font-family: "Roboto", "Calibri", "Century Gothic", "Trebuchet MS", "Helvetica", sans-serif;
    text-transform: uppercase;
    font-size: 11pt;
    font-weight: 300;
    color: #484848;
}

#down {
    width: 100%;
    background-color: #121212;
    color: #e3e3e3;
    font-family: "Kazmann Sans" ,"Calibri", "Century Gothic", "Trebuchet MS", "Helvetica", sans-serif;
    height: 170px;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
}

#content_masonry {
    width: 1360px;
    margin: auto;
    padding: 0;
    overflow: hidden;
}

#footerr {
    width: 1380px;
    margin: auto;
    text-align: center;
    font-size: 25pt;
    margin-top: -20px;
}

.divimg {
    height: auto;
    padding: 0;
    margin-top: -7px;
    overflow: hidden;
}

.navnavfooter {
    height: 50px;
    width: 100%;
    margin: 0;
    margin-top: 35px;
    overflow: hidden;
}

@media screen and (min-width: 1922px) {

#logovideo {
    position: absolute;
    height: 500px;
    width: 100%;
    opacity: 0.5;
    right: 0;
    left: 0;
    margin: auto;
    min-height: 50%;
}
    
}

@media screen and (max-width: 1415px) {

.menu {
    padding: 0;
    height: 50px;
    width: 100%;
    margin: auto;
}
    
li {
    width: 15.8%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-left: 2%;
    margin-right: 2%;
}

.menubutton {
    width: 100%;
}
    
#content_masonry {
    width: 100%;
    margin: auto;
    padding: 0;
    overflow: hidden;
}
    
.masonry_box {
    width: 30.4%;
    margin-left: 2%;
    margin-right: 0%;
    margin-bottom: 0px;
    font-size: 20pt;
}
    
.miniature {
    width: 100%;
    margin: 0;
    padding: 0;
}
    
.tags {
    width: 65%;
}
    
.date {
    width: 25%;
}
    
#footerr {
    width: 100%;
}
}

@media screen and (max-width: 1005px) {
    
.masonry_box {
    width: 46%;
    margin-left: 2%;
    margin-right: 0%;
    margin-bottom: 0px;
    font-size: 20pt;
}
    
li {
    width: 15.7%;

}
    
}

@media screen and (max-width: 800px),(orientation: portrait) {
    
#video_contain {
    display: none;
}   

.masonry_box {
    width: 96.7%;
    margin-left: 1.5%;
    margin-right: 0px;
    font-size: 20pt;
}
    
.divimg {
    margin-top: 6px;
    height: auto;
    margin-top: -7px;
}
  
#hat {
    background-color: black;
    font-family: "Kazmann Sans" ,"Calibri", "Century Gothic", "Trebuchet MS", "Helvetica", sans-serif;
    height: 420px;
    overflow: hidden;
}
    
#logoimg {
    display: none;
}

#logoimgmini {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 70px;
    height: 70px;
}

.navnav {
    position: absolute;
    height: 310px;
    width: 100%;
    margin: 0;
    margin-top: 90px;
}
    
.menu {
    padding: 0;
    height: 310px;
    width: 100%;
    margin: auto;
}
    
li {
    width: 50%;
    font-size: 27pt;
    list-style-type: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
}
    
#videologo {
    height: 410px;
}
    
#logotext {
    height: 90px;
}
    
.navnavfooter {
    display: none;
}
    
#down {
    height: 60px;
}
    
.article_title {
    font-weight: 400;
}
    
.tags{
    font-weight: 300;
}
    
.date{
    font-weight: 300;
}
    
}

